asgiref
azure-common
azure-communication-sms
azure-core
azure-servicebus
beautifulsoup4
certifi
charset-normalizer
cycler
Django
django-bootstrap4
fonttools
idna
isodate
kiwisolver
matplotlib
msrest
mysqlclient
numpy
oauthlib
packaging
pandas
Pillow
PyJWT
pyparsing
python-dateutil
python-http-client
pytz
requests
requests-oauthlib
schedule
sendgrid
setuptools-scm
six
soupsieve
sqlparse
starkbank-ecdsa
tomli
twilio
uamqp
urllib3
