<!DOCTYPE html>
<html>
<title>Behavior Creation</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

.myDiv1 {
  margin: auto;
  width: 100%;
  background-color: gray; 
  text-align: center;   
  
}
.myDiv2 {
  margin: auto;
  width: 100%;
  background-color: gray;    
  text-align: center;
}

body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body class="w3-black">

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:96px 16px">
  <h1 class="w3-xlarge">Marketing Portal</h1>
  <h1>logged in as {{ user.first_name }} {{ user.last_name }}</h1>
  
  <div class="w3-padding-16">
    <div class="w3-bar w3-border">
      <a href="{% url 'messaging:index2' %}" class="w3-bar-item w3-button">Marketing Home</a>
      <a href="{% url 'messaging:behavior_creation' %}" class="w3-bar-item w3-button">New behavior</a>
      <a href="{% url 'rewards:index' %}" class="w3-bar-item w3-button">Rewards Home</a>
      <a href="{% url 'messaging:analytics' %}" class="w3-bar-item w3-button">Analytics</a>
      <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">Data Export <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{% url 'messaging:transaction_csv' %}" class="w3-bar-item w3-button">Transactions CSV</a>
        <a href="{% url 'messaging:create_csv' %}" class="w3-bar-item w3-button">Customer CSV</a>
        <a href="{% url 'messaging:promo_csv' %}" class="w3-bar-item w3-button">Active Promotions CSV</a>
        <a href="{% url 'messaging:opt_record_csv' %}" class="w3-bar-item w3-button">Opt in Record CSV</a>
        <a href="{% url 'messaging:behavior_csv' %}" class="w3-bar-item w3-button">Behavior CSV</a>
      </div>
    </div> 
    
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">Data import <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        {% for behavior in behaviors %}
          <a href="{% url 'messaging:get_csv' behavior.id %}" class="w3-bar-item w3-button">{{ behavior.title }}</a>
        {% endfor %}
      </div>
    </div>
    
    
    
  <div class="w3-padding-32" id="main">
  <!-- Header/Home -->

  <div class="w3-bar w3-border">
  <button onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">Info</button>

  <div id="id01" class="w3-modal">
    <div class="w3-modal-content">
      <div class="myDiv3">
        <p>&nbsp;</p>
        <p style="color:black;">From this page you can attach files and messages in the form of two text fields subject and body the subject is used as the subject of an email if the platform is set to email and is a signature of a text if the platform is set to text. The reach percent refers to what persenctage of of the degographic you choose to send messages to. And the reach total field acts as a stop loss of how many custimers the behavior ran reach. The reached field is a current cound of how many messages the behavior has reached. start and end date are explanatory and expiration is applied if the behavior is set to promotion and applies an expiration to promotions and rebates sent by the behavior. Active is basically an On and Off button for the behavior.</p>
        <span onclick="document.getElementById('id01').style.display='none'"  style="color:black;" class="w3-button w3-display-topright">&times;</span>
      </div>
    </div>
  </div>
 </div>
    
    
    
    
    
    </div>
  </div>
</header>

<!-- Photo Grid -->
  
   <div class="myDiv1" id="contact">  
    <h1> Marketing Behavior</h1>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ behavior_form.as_p }}
    <button type="submit">Create</button>
    </form>
  </div> 
  
<!-- End Page Content -->
</div>



</body>
</html>

