<!DOCTYPE html>
<html>
<title>Create Message</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

.myDiv1 {
  margin: auto;
  width: 100%;
  background-color: black;
  text-align: right;   
  
}
.myDiv2 {
  margin: auto;
  width: 100%;
  background-color: black;    
  text-align: left;
}


.myDiv3 {
  margin: auto;
  width: 100%;
  background-color: black;    
  text-align: left;
}




body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body class="w3-black">

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
  <h1 class="w3-xlarge">Marketing Portal</h1>
  <h1>logged in as {{ user.first_name }} {{ user.last_name }}</h1>
  
  <div class="w3-padding-32">
    <div class="w3-bar w3-border">
      <a href="{% url 'messaging:index2' %}" class="w3-bar-item w3-button">Marketing Home</a>
      <a href="{% url 'messaging:behavior_creation' %}" class="w3-bar-item w3-button">New behavior</a>
      <a href="{% url 'rewards:index' %}" class="w3-bar-item w3-button">Rewards Home</a>
      <a href="{% url 'messaging:analytics' %}" class="w3-bar-item w3-button">Analytics</a>
      
      <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">Data Export <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{% url 'messaging:transaction_csv' %}" class="w3-bar-item w3-button">Transactions CSV</a>
        <a href="{% url 'messaging:create_csv' %}" class="w3-bar-item w3-button">Customer CSV</a>
        <a href="{% url 'messaging:promo_csv' %}" class="w3-bar-item w3-button">Active Promotions CSV</a>
        <a href="{% url 'messaging:opt_record_csv' %}" class="w3-bar-item w3-button">Opt in Record CSV</a>
        <a href="{% url 'messaging:behavior_csv' %}" class="w3-bar-item w3-button">Behavior CSV</a>
        <a href="{% url 'messaging:message_csv' %}" class="w3-bar-item w3-button">Message CSV</a>
      </div>
    </div>
      
     
   <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">Data import <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        {% for behavior in behaviors %}
          <a href="{% url 'messaging:get_csv' behavior.id %}" class="w3-bar-item w3-button">{{ behavior.title }}</a>
        {% endfor %}
      </div>
    </div>
      
      
    </div>
  </div>
</header>

<!-- Photo Grid -->
  
  <div class="mydiv3">
  
    <p>
    Create messages to be sent as the body of a text message or email, and attach pdf files to emails for use in promotions. NOTE: Attached files are irrelevant when the behavior platform is set to Phone and a message subject is an emails subject or texts signature. 
    </p>
  
  
  <div class="w3-row-padding w3-padding-32" style="margin:0 16px">
        <div class="w3-third w3-margin-bottom" style="width:60%">
          <div class="w3-container w3-white">
            <i class="material-icons" style="font-size:50px">assessment</i>
        <p>  {{ behavior.title }}</p><br>
        <p>About: {{behavior.comments}}</p>
        <p>Start: {{behavior.start}}</p>
        <p>End: {{behavior.end}}</p>
        <p>Demographic: {{behavior.get_demo_display}}</p>
        <p>Platform: {{behavior.get_platform_display}}</p>
        <p>Reach %: {{behavior.reach_percent}}</p>
        <p>Max Reach: {{behavior.reach_total}} Customers</p>
        <p>customers reached: {{behavior.reached}}</p>
        <a href="{% url 'messaging:behavior_edit' behavior.id %}"><button class="w3-button w3-black w3-margin-bottom"">Edit</button></a>
        <a href="{% url 'messaging:behavior_delete' behavior.id %}"><button class="w3-button w3-black w3-margin-bottom"">Delete</button></a>
        
        <a href="{% url 'messaging:get_csv' behavior.id %}"><button class="w3-button w3-black w3-margin-bottom"">Import Customers to Market</button></a>
        
          </div>
        </div>
        
        <h1> Create New Message</h1>
        <div class="w3-third w3-margin-bottom" style="text-align:left;">
          <div class="w3-container w3-black" style="text-align:left; width:100%;">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ message_form.as_p }}
               <button class="w3-button w3-white w3-margin-bottom" type="submit" >Submit</button>
            </form>
            <p> .</p>
            <p> .</p>
            
            
            
            <h1> Attach new file</h1>
            <form method="post" action="{% url 'messaging:attach_file' behavior.id %}" enctype="multipart/form-data">
              {% csrf_token %}
              {{ attachment_form.as_p }} 
              <button class="w3-button w3-white w3-margin-bottom" type="submit">Attach File</button>
            </form>
            
                        
          </div>
        </div>
      </div>
    </div>
  </div>
  


  <div class="w3-row">
    <div class="w3-col s6 w3-dark-gray w3-center">
   <div class="mydiv2">
    <h3> Attached files</h3>
    {% for i in attachments %}
    
        
       
        <div class="w3-third w3-margin-top w3-margin-bottom w3-margin-left" style="width:90%; text-align: center;">
          <div class="w3-container w3-dark-gray">
            <i class="material-icons" style="font-size:50px">view_list</i>
            <p>Title: {{ i.title }}</p>
            <p>Attached to {{ i.count }} message</p>
            <a href="{% url 'messaging:attachment_delete' i.id %}"><button class="w3-button w3-black w3-margin-bottom"">Delete</button></a>
            
            <a href="{% url 'messaging:pdf_view' i.id %}"><button class="w3-button w3-black w3-margin-bottom"">View</button></a>
          
          </div>
        </div>
       
       
    {% endfor %}
   </div>
    </div>
    <div class="w3-col s6 w3-light-gray w3-center">
    
          
    <h3> Attached messages</h3>
    {% for user_ in messages %}
    
    
        
        
        <div class="w3-third w3-margin-top w3-margin-bottom w3-margin-left" style="width:90%; text-align: center;">
          <div class="w3-container" style="background-color:LightSlateGray;">
            <i class="material-icons" style="font-size:50px; color:Black">speaker_notes</i>
            <p style="color:Black"> Subject/Signature: {{ user_.subject }}</p>
            <p style="color:Black">Body of Message: {{ user_.body }}</p>
            <p style="color:Black">Message used {{ user_.count }} times</p>
            <a href="{% url 'messaging:message_edit' user_.id %}"><button class="w3-button w3-black w3-margin-bottom"">Details</button></a>
          
          </div>
        </div>
        
       
    {% endfor %}
    </div>

  </div>



  
  
<!-- End Page Content -->
</div>



</body>
</html>


